<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
	<!-- Configuration goes here -->
	<test name="LoginTest">
		<parameter name="username" value="testuser" />
		<parameter name="password" value="testpass" />
		<classes>
			<class name="com.example.tests.LoginTest" />
		</classes>
	</test>
	<test name="RegisterTest">
		<classes>
			<class name="com.example.tests.RegisterTest" />
		</classes>
	</test>
</suite>
